@import "_config.scss";
@import "_mixins";

html {
    font-size: 62.5%;
}

body {
    @include set-font(body);

    color: $color-main-text;
    padding: 0;
    margin: 0;

    @include dynamic-font-size(body-small);
    line-height: 1.8;
}

.inverse {
    color: $color-inverse-text;
}

.inverse-background {
    background-color: $color-primary;
}

h1 {
    @include set-font(heavy-header);
    @include dynamic-font-size(header-huge);
    margin-bottom: 0.6em;
}

h2 {
    @include set-font(light-header);
    @include dynamic-font-size(header-large);
}

h3 {
    @include set-font(light-header);
    @include dynamic-font-size(header-medium);
}

h4 {
    @include set-font(header);
    @include dynamic-font-size(header-medium);
    line-height: 1.4;
    margin-bottom: 0.5em;
}

h5 {
    @include set-font(light-header);
    @include dynamic-font-size(header-small);
}

quote.large {
    @include set-font(light-header);
    @include dynamic-font-size(quote-large);
    line-height: 1.61;
    letter-spacing: 0.7px;
}

quote {
    @include set-font(heavy-header);
    @include dynamic-font-size(quote-medium);
    line-height: 1.48;
    letter-spacing: 0.5px;
}

.txt-huge {
    @include dynamic-font-size(body-huge);
    line-height: 2.28;
}
.txt-large {
    @include dynamic-font-size(body-large);
    line-height: 2.41;
}
.txt-small-extra-height {
    line-height: 2.29;
}
.txt-tiny {
    @include dynamic-font-size(body-tiny);
    line-height: 2.83;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

// TODO: use page margin map or something
.page-section {
    /* margin-top: 2rem; */
    /* margin-bottom: 7rem; */
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.no-text {
    line-height: 0;
}

.bullet-list {
    list-style-type: disc;
    list-style-position: inside;
    line-height: 2.5;
    margin-top: 1em;
}