//------------------------------//
// Core configuration File      //
// Do not output any CSS her    //
// Author: Anish George         //
//------------------------------//


// Breakpoint widths
$breakpoints-map: (
    tablet: 48em,
    desktop: 64em,
    desktopL: 80em
);

$font-map: (
    header: (
        font-family: Raleway,
        font-weight: 700
    ),
    heavy-header: (
        font-family: Raleway,
        font-weight: 800
    ),
    body: (
        font-family: Arimo
    ),
    link: (
        font-family: Arimo,
        font-weight: 700
    )
);

$font-size-map: (
    body-tiny: (
        mobile: 1.2rem
    ),
    body-small: (
        mobile: 1.4rem
    ),
    body-medium: (
        mobile: 1.6rem
    ),
    body-large: (
        mobile: 1.7rem
    ),
    body-huge: (
        mobile: 1.8rem
    )
);

$page-margin-map: (
    mobile: 2rem,
    tablet: 4rem,
    desktop: 9rem
);

// line-heights, TODO, remove
$lh-small: 1.4;
$lh-medium: 1.6;
$lh-large: 2.1;

// Color Palet
$color-primary:              #f61d22;   // Red
$color-main-text:            #636465;   // Dark grey
$color-secondary-text:       #000000;   // black
$color-inverse-text:         #ffffff;   // white