//------------------------------//
// Core configuration File      //
// Do not output any CSS her    //
// Author: Anish George         //
//------------------------------//


// Breakpoint widths
$breakpoints-map: (
    tablet: 48em,
    desktop: 64em,
    desktopL: 80em
);

$font-map: (
    heavy-header: (
        font-family: Raleway,
        font-weight: 800,
        letter-spacing: 0.6px
    ),
    header: (
        font-family: Raleway,
        font-weight: 700
    ),
    light-header: (
        font-family: Raleway,
        font-weight: 400,
        letter-spacing: 0.4px
    ),
    body: (
        font-family: Arimo,
        font-weight: 400,
        letter-spacing: 0.2px
    ),
    heavy-body: (
        font-family: Arimo,
        font-weight: 700,
        letter-spacing: 0.2px
    )
);

$font-size-map: (
    body-tiny: (
        mobile: 1.2rem
    ),
    body-small: (
        mobile: 1.4rem
    ),
    body-medium: (
        mobile: 1.6rem
    ),
    body-large: (
        mobile: 1.7rem
    ),
    body-huge: (
        mobile: 1.8rem
    ),

    header-small: (
        mobile: 1.6rem,
        tablet: 1.8rem
    ),
    header-medium: (
        mobile: 1.8rem,
        tablet: 2.4rem
    ),
    header-large: (
        mobile: 3rem,
        tablet: 3.6rem
    ),
    header-huge: (
        mobile: 3.6rem,
        tablet: 4.8rem
    ),

    quote-medium: (
        mobile: 2.4rem,
        tablet: 4.0rem   // TODO
    ),
    quote-large: (
        mobile: 3.2rem,
        tablet: 5.4rem
    ),

    header-link: (
        mobile: 1.6rem,
        tablet: 1.4rem
    )
);

$page-margin-map: (
    mobile: 2rem,
    tablet: 4rem,
    desktop: 9rem
);

// Color Palet
$color-primary:              #f61d22;   // Red
$color-main-text:            #636465;   // Dark grey
$color-secondary-text:       #000000;   // black
$color-inverse-text:         #ffffff;   // white