@import "_config.scss";
@import "_mixins.scss";

.flex-grid {
    display: flex;
    flex-wrap: wrap;

    [grid-item], .grid-item {
        flex-grow: 1;
    }
}

.centered {
    /* justify-content: center; */
    align-items: center;
}

.guttered {
    margin: -0.5rem;

    [grid-item], .grid-item {
        padding: 0.5rem;
    }
}

// TODO, need to rework this if there is a default case for mobile other than a single stack
@each $breakpoint in (tablet, desktop) {
    @for $num from 2 through 5 {
        .flex-grid.#{$breakpoint}-#{$num} [grid-item],
        .flex-grid.#{$breakpoint}-#{$num} .grid-item, {

            @include respond-to($breakpoint) {
                width: 100% / $num;
            }
            width: 100%;
        }
    }
}