@import "_config.scss";
@import "_mixins.scss";

.flex-grid {
    display: flex;
    flex-wrap: wrap;

    [grid-item], .grid-item {
        flex-grow: 1;
    }
}

.flex-grid.fixed {
    [grid-item], .grid-item {
        flex-grow: 0;
    }
}

.centered {
    align-items: center;
}

.guttered {
    @include flex-gutter(0.5rem);
}
.guttered-large {
    @include flex-gutter(1rem);
}

// TODO, need to rework this if there is a default case for mobile other than a single stack
@each $breakpoint in (tablet, desktop) {
    @for $num from 2 through 5 {
        .flex-grid.#{$breakpoint}-#{$num} [grid-item],
        .flex-grid.#{$breakpoint}-#{$num} .grid-item, {

            @include respond-to($breakpoint) {
                width: 100% / $num;
            }
            width: 100%;
        }
    }

    @for $num from 2 through 4 {
        .grid-item.#{$breakpoint}-order-#{$num} {
            @include respond-to($breakpoint) {
                order: $num;
            }
        }
    }
}