@import "_mixins.scss";
footer {
    hr {
        border: 0;
        height: 2px;
        background-color: #d3d3d3;
        margin-bottom: 3rem;
    }
    &>div {
        display: flex;
        justify-content: space-between;   // This is just fantastic
        flex-wrap: wrap;
    }

    .right-section {
        @include respond-to(tablet) {
            text-align: right;
            p {
                margin-top: 0;
            }
            .icon {
                margin-left: 2rem;
                margin-right: 0;
            }
        }

        p {
            margin-top: 4rem;
            margin-bottom: 2rem;
        }
        .icon {
            font-size: 1.9rem; // TODO: we may want to use a dynamic size
            margin-right: 2rem;
        }
    }

    .left-section {
        position: relative;
        .icon {
            position: absolute;
            font-size: 2rem;
            top: 0.5rem;
        }
        p {
            margin-left: 3rem;
        }
    }
}