/*
Css related to the header
*/
@import "_mixins.scss";

/* TODO: Vertically align the banner and make the header have a fixed height?? */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .banner {
        width: auto;
        flex-grow: 0;
    }
    nav {
        flex-grow: 1;
        order: 3;
        width: 100%;
        /* float: right; */
        display: none;

        ul li {
            display: block;
            padding: 0.8em 1em 0.8em 1.5em;
            border-bottom: standard-border();
        }
    }
    /* nav.open { */
    /*     display: block; */
    /* } */

    button {
        margin-right: 1rem;
        order: 2;
        flex-grow: 1;
        text-align: right;
    }

    @include respond-to(tablet) {
        flex-wrap: nowrap;
        .banner {
        }
        nav {
            text-align: right;
            padding-top: 2.2em;
            padding-bottom: 2.2em;
            display: block !important;

            ul li {
                display: inline-block;
                padding: 0 1em 0 1em;
                border: 0;
            }
        }
        button {
            display: none;
        }
    }
}