/* Setup the basic icons used in the site */
@import "_mixins.scss";

@function icon_path($name) {
    @return url("../icons/#{$name}.svg");
}

.icon {
    display: inline-block;
}


.arrow {
    // arrow.right is the default
    &.left, &.right {
        vertical-align: -0.1em;  // To adjust the arrow to a normal links font-size
    }
    &.down {
        transform: rotate(90deg);
    }
    &.left {
        transform: rotate(180deg);
    }
    &.up {
        transform: rotate(-90deg);
    }

    background: icon_path(arrow);
    @include font_icon_size(30.02 / 30);
}

/* Social icons */

// Map of icon name to ratio of width and height
$social-icon-map: (
    fb: 14.97 / 30,
    gplus: 34.92 / 30,
    twitter: 36.8 / 30
);

@each $icon, $ratio in $social-icon-map {
    .#{$icon} {
        @include font_icon_size($ratio);

        background: icon_path(#{$icon}_light);

        &:hover,
        &:active {
            background: icon_path(#{$icon}_dark);
        }
    }
}


$contact-icons: location_pin email call;

@each $icon in $contact-icons {
    .icon.#{$icon} {
        background-image: url("../icons/#{$icon}.png");
        width: 16px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.block-icon {
    display: block;
    margin: 0 auto;
}

/* ---- Support for image icons ------ */

.icon.choose {
    width:100%;
    height: 15rem;
    background-position: center;
    background-size: auto 8rem;
    background-repeat: no-repeat;
}

@for $num from 1 through 3 {
    #choose-#{$num} {
    @include high-res-image("../icons/choose-#{$num}", "png");
    }
}

.icon.service {
    width: 100%;
    height: 11rem;
    background-position: center;
    background-repeat: no-repeat;
    // Background-size is pretty much good from the png
}

@for $num from 1 through 4 {
    #service-#{$num} .icon {
        background-image: url("../icons/service-#{$num}.png");
    }

}

/* ---- And the logo ofcourse --------- */
.icon.logo {
    height: 8rem;
    width: 20rem;
    background-position: center;
    background-size: auto 4.6rem;
    background-repeat: no-repeat;
    @include high-res-image("../icons/logo", "png");
}

/* ---- And menu button --------------- */
.icon.menu {
    width: 1.8rem;
    height: 1.2rem;
    background-position: center;
    background-size: auto 1.2rem;
    background-repeat: no-repeat;
    background-image: url("../icons/menu.png");
}

.icon.menu.close {
    background-image: url("../icons/menu_close.png")
}