/*
Just the landing page
*/
@import "_config.scss";

/* TODO: use better way to center the quote */
.main-banner {
    background-image: url("../dummy_images/landing_banner_1279x549.jpg");
    width: 100%;
    height: 549px;
    padding: 1rem;

    // TODO: This sucks in responsive... get it fixed
    .quote-box {
        margin: 12rem 9rem auto 60rem;
        quote {
            display: block;
        }
        .nav.link {
            background: white;
            padding: 1.3em 1em;
            display: inline-block;
            margin-top: 1em;
            span:first-child {
                padding-right: 3em;
            }
        }
    }
}

.service-link {
    position: relative;
    &>a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .overlay {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color-primary, 0.5);
        display: flex;
        align-items: center;

        h3 {
            padding-left: 0.5em;
            padding-right: 0.5em;
            text-align: center;
            display: block;
            margin: 0 auto;
            line-height: 1.6;
        }
    }
}