/*
Just the landing page
*/

/* TODO: use better way to center the quote */
.main-banner {
    background-image: url("/resources/dummy_images/landing_banner_1279x549.png");
    width: 100%;
    height: 549px;
    padding: 1rem;
    .quote-box {
        margin: 12rem 9rem auto 60rem;
        quote {
            display: block;
        }
        .nav-link {
            background: white;
            padding: 1.3em 1em;
            display: inline-block;
            margin-top: 1em;
            span:first-child {
                padding-right: 3em;
            }
        }
    }
}