@import "_config.scss";
@import "_mixins.scss";

a.link {
    color: $color-primary;
    text-transform: uppercase;
}

a.header.link {
    color: $color-main-text;
}

.header-menu a {
    text-transform: uppercase;
    color: $color-main-text;
}

a.nav.link {

    @include set-font(heavy-body);

    @include dynamic-font-size(body-medium);
}

a.post.link {
    @include set-font(heavy-body);
}